.body{
    width: 100%;
}
.item1{
    height: 39.4rem;
}
.item2{
    height: 58.5rem;
}
.img1{
    height: 39.4rem;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.img1, img{
    width: 100%;
    height: 100%;
    object-fit: cover; /
}
.img2{
    height: 58.5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.img2, img{
    width: 100%;
    height: 100%;
    object-fit: cover; /
}

/*ITEM 1*/
.itemuno{
    background-color: rgba(247,205,207,255);
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 25% 58% 17%;
} 
.itemuno h1{
    font-size: 2.4rem;
}  
.itemuno p{
    font-size: 2rem;
    line-height: 1.7;
}
.itemuno div{
    background-color: white;
    border-radius: 2rem;
    width: 12.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(49, 49, 49);
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 700;
}

/*Item 2*/
.itemdos{
    background-color: rgb(200,4,188);
    text-align: center;
    padding-left: 9.5rem;
    padding-right: 9.1rem;
    padding-top: 14rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 42% 28% 17%;   
    color: white; 
}
.itemdos h1{
    letter-spacing: 0.3rem;
    font-size: 4.9rem;
    margin: 0 auto;
    width: 40rem;
}  
.itemdos p{
    font-size: 2.5rem;
    line-height: 1.2;
}
.itemdos div{
    border: 1px solid white;
    border-radius: 2rem;
    width: 10rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 700;
}

/*Item 3*/
.itemtres{
    background-color: rgb(8,36,220);
    color: white;
    text-align: center;
    padding-left: 9.5rem;
    padding-right: 9.1rem;
    padding-top: 16rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 28% 28% 17%;   
}
.itemtres h1{
    letter-spacing: 0.3rem;
    font-size: 4.9rem;
}  
.itemtres p{
    font-size: 2.6rem;
    line-height: 1.2;
}
.itemtres div{
    border: 1px solid white;
    border-radius: 2rem;
    width: 11rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 700;
}

/*Item 4*/
.itemcuatro{
    background-color: rgb(8,36,220) ;
    color: white;
    text-align: center;
    padding-left: 9.5rem;
    padding-right: 9rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 28% 54% 17%; 
}
.itemcuatro h1{
    font-size: 2.45rem;
}  
.itemcuatro p{
    font-size: 2.02rem;
    line-height: 1.6;
}
.itemcuatro div{
    border: 1px solid white;
    border-radius: 2rem;
    width: 12rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 700;
}

/*Item 5*/
.itemcinco{
    background-color: rgb(8,100,68);
    color: white;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 13rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 40% 40% 17%; 
}
.itemcinco h1{
    font-size: 4.9rem;
    line-height: 1.2;
    letter-spacing: 3px;
}  
.itemcinco p{
    font-size: 2.6rem;
    line-height: 1.4;
}
.itemcinco div{
    border: 1px solid white;
    border-radius: 2rem;
    width: 14rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 700;
}

/*Item 6*/
.itemseis{
    background-color: rgb(32,60,52);
    color: white;
    text-align: center;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 28% 55% 17%; 
}
.itemseis h1{
    font-size: 2.5rem;
}  
.itemseis p{
    font-size: 2rem;
    line-height: 1.4;
}
.itemseis div{
    border: 1px solid white;
    border-radius: 2rem;
    width: 14rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 700;
}

/*Item 7*/
.itemsiete{
    background-color: rgb(152,220,180);
    color: rgb(44, 78, 44);
    text-align: center;
    padding-left: 11rem;
    padding-right: 11rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: grid;
    grid-template-rows: 30% 52% 17%; 
}
.itemsiete h1{
    font-size: 2.4rem;
}  
.itemsiete p{
    font-size: 2rem;
    line-height: 1.5;
}
.itemsiete div{
    border: 1px solid rgb(44, 78, 44);
    border-radius: 2rem;
    width: 12rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 700;
}

.items{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3rem;
}


/*DESCRIPCIONES*/
.body1_2{
    font-weight: 600;
    width: 49%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    gap: 5rem;
    margin-top:6rem;
}
.subrayado {
    text-decoration: underline;
}
.subrayado:hover{
    cursor: pointer;
}